<div class="row">

  <section class="content col-3 p-0">
    <nav class="side_nav">
      <div id="cart" class="carts">
        <%= render "users/profile" %>

      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/questions"><%= link_to 'Profile', user_path(current_user.id), remote:true %></a></li>
        <li><a href="/news">News</a></li>


      </ul>
    </nav>
  </section>


  <div class="col-9 flex-nowrap p-0">
    <%= render "opinions/navbar" %>
    <div class="row  ml-0">
      <div class="col-8 m-0">
        <div>
          <%= render "opinions/tab_nav" %>
        </div>

      </div>
      <div class="col-4 ">

          <h1>hell</h1>
          <h1>hell</h1>
          <h1>hell</h1>
          <h1>hell</h1>
          <h1>hell</h1>


        <div id="user" class="users">
          <%  @user %>
        </div>


      </div>
    </div>
  </div>

</div>









