<%= form_with(modal: @opinion, local: false) do |form| %>
  <div class="field rich p-3">
    <div class="control">
      <%= form.rich_text_area :body, label: "What's Your Opinion", input_html: {class: "textarea"}, wrapper: false, label_html: {class: "label"}, placeholders: "Your opinion...", autofocuse: true %>
    </div>
  </div>
  <%= link_to 'O', users_opinion_path, method: :put %>

<% end %>

