// Place all the styles related to the opinions controller here.
// They will automatically be included in applications.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/




.content {
  margin: 0;
  padding: 0;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  overflow-x: hidden;
  @media (min-width: 30em) {
    flex-direction: row; // desktop is vertically laid out
    -webkit-box-orient: horizontal;

  }
  .follow_nav {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }
  nav {
    padding-bottom: 1em;
    background: #233145;
    text-align: center; // mobile has centered nav
    @media (min-width: 30em) {
      text-align: center; // desktop nav is left-aligned
      padding: 1em;
      height: 100vh;
      width: 100%;
      // and needs more padding
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 1em;
      @media (min-width: 30em) {
        padding-right: 1em; // give desktop some extra space
      }
      li {
        margin: 0;
        padding: 0.5em;
        text-transform: uppercase;
        letter-spacing: 0.354em;
        color: #730E15;
        a {
          color: #bfb;
          text-decoration: none;
        }
        a:hover {
          background: none;
          color: white;
        }
      }
    }
  }
  main {
    padding: 0.5em;
  }
}


#user {
  article {
    h2 {
      margin-top: 0;
    }
    background: white;
    border-radius: 0.5em;
    margin: 1em;
    padding: 1.414em;
    @media (min-width: 30em) {
      margin: 0; // desktop doesn't need this margin
    }
  }
}